*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
}

#main-header{
    padding-left: 20px;
    height: 100px;
    line-height: 100px;
    background-color: white;
    margin-bottom: 50px;
}

#logo{
    vertical-align: middle;
    height: 70px;
    margin-bottom: 30px;
}

h1{
    display: inline-block;
    font-size: 50px;
    font-weight: 800;
}

.container{
    width: 1200px;
    background-color: white;
    margin: auto;
    margin-bottom: 2px;
    padding: 20px 50px;
}

#buttons{
    border-radius: 5px 5px 0 0;
}

button{
    border: 1px solid royalblue;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#add-task{
    background-color: royalblue;
    color: white;
}

#add-section{
    background-color: white;
    color: grey;
}

#list{
    border-radius: 0 0 5px 5px;
}

.triangle{
    font-size: 1.5rem;
}
    
.list-title{
    display: inline;
    font-weight: 800;
}

.task{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.done{
    font-size: 10px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid green;
    color: green;
}

.todo{
    font-size: 10px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid red;
    color: red;
}

.list-link{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 8px;
    border-radius: 12px;
    }

.editorial{
    background-color: royalblue;
}

#q1-goals{
    background-color: violet;
}

#recruiting{
    background-color: green;
}

#mobile{
    background-color: orange;
}

#website{
    background-color: fuchsia;
}

#sales{
    background-color: yellowgreen;
}